.msg {
    color: green;
    background: lightgrey;
    font-size: 25px;
    border: solid green 5px;
    border-radius: 5px;
    padding: 10px;
  }

  .error {
    color: red;
    background:lightcoral;
    font-size: 25px;
    border: solid red 5px;
    border-radius: 5px;
    padding: 10px;
  }